/* login.css */

body {
	font-family: Arial, sans-serif;
	background-color: #f4f4f4;
	margin: 0;
	padding: 0px;

	/* height: 100vh; */
}
.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	background-color: #627589;
	margin: 20px;
	padding: 20px;
	position: relative;
	color: white;
	z-index: 1;
}

.page-title {
	position: absolute; /* Position the title absolutely within the header */
	width: 100%; /* Ensure the title spans the full width of the header */
	left: 0; /* Align the title from the left edge */
	text-align: center; /* Center the title text */
	margin: 0; /* Remove default margin */
	padding: 20px 0; /* Adjust padding as needed */
	background-color: #627589;
	color: white;
	font-size: 24px;
}

form {
	/* display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center; */
	background-color: #ffffff;
	padding: 20px;
	margin: 80px auto 10px auto;
	border-radius: 8px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
	width: 100%;
	max-width: 400px;
}

h1 {
	color: #333;
	text-align: center;
}

input {
	display: block;
	width: 100%;
	padding: 10px;
	margin-bottom: 20px;
	border-radius: 4px;
	border: 1px solid #ccc;
	box-sizing: border-box;
}

button {
	width: 100%;
	padding: 10px;
	background-color: #627589;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
}

button:hover {
	background-color: #92a0ae;
}

.google-button-container {
	display: flex;
	justify-content: center; /* Center the content horizontally */
	margin: 20px auto; /* Similar to your form, ensures the container is centered */
	width: 100%;
	max-width: 400px; /* Ensure it matches the form width for consistency */
}

.google-button {
	width: 100%;
	padding: 10px;
	background-color: #627589;
	color: white;
	border: none;
	border-radius: 4px;
	cursor: pointer;
	font-size: 16px;
	text-align: center; /* If it's an <a> tag, this helps center the text */
	display: block; /* Ensures the <a> tag behaves like a block element */
}

.google-button:hover {
	background-color: #92a0ae;
}

.error-message {
	color: red;
	text-align: center;
	margin-bottom: 20px;
}

.other-button {
	padding: 10px 20px;
	margin-left: 10px;
	background-color: #7e939f;
	color: white;
	text-decoration: none;
	font-weight: bold;
	border-radius: 5px;
	border: 2px solid transparent;
	transition: background-color 0.2s ease-in-out, color 0.2s ease-in-out;
	cursor: pointer;
	z-index: 2;
}

.other-button:hover,
.other-button:focus {
	background-color: #a7b0ba;
	color: #ffffff;
	text-decoration: none;
}
